body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}
/* UL is just an unordered list. This is the CSS to make it into a nav bar */

ul.navbar{
  list-style-type: none; /* Removes the bullet points */
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: #f1f1f1;
  position: fixed; /* Fixes the nav bar to the side of the page */
  height: 100%; /* Make the nav bar go down the entire page, not just to the end of the list */
  min-width: 80px; /* Sets a minimum width so that when the page is re sized the bar will not shrink smaller than this */
}


li a {
  display: block;
  color: #000;
  padding: 32px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#main {
  /*margin-left: 120px;*/
  margin-left: 5%; /* This doesn't work when re sized */
  padding:1px 16px;
  height:1000px;
}

#instructions {
 color:red
}