<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffIT Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<ul>
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="./iRPM.html">iRPM</a></li>
</ul>

<div id="main">
    <h1>Welcome to the the iRPM guide for new joiners at Deloitte</h1>
    <p>Link to <a href="https://rpm.deloitteresources.com" target="_blank">iRPM</a></p>
    <p>iRPM is a new approach to performance management, with greater emphasis placed on ensuring you have meaningful, frequent conversations about your performance and development throughout the year. Conversations and snapshots should be with team leads or managers at least two grades above you.</p>
    <h4>Coaching</h4>
    <p>Coaching provides you with access to support that can help you view your career holistically and develop accordingly. Every team member will have a coach.</p>
    <h4>Check-ins</h4>
    <p>Frequent, future-focused conversations between you and your team leader about work priorities and outcomes, strengths, performance and development.
    </p>
    <h4>Talent review</h4>
    <p>Quarterly, future-focused leadership conversations about the growth and development of our people and out business in the near and long-term.
    </p>
    <h4>Pulse Survey</h4>
    <p>Issued by a team leader and completed by team members, 10 questions that provide confidential insights into proven predictors of team performance and engagement.
    </p>
    <h4>Snapshots</h4>
    <p>A team leader’s assessment of a team member’s performance at a given point in time, based on their day-to-day experience of working with the team member.</p>
</div>