<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffIT Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<ul>
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="./iRPM.html">iRPM</a></li>
</ul>

<div id="main">
    <h1>Welcome to the the StaffIT guide for new joiners at Deloitte</h1>
    <h4>What is StaffIT?</h4>
        <p>STAFFIT is a tool used to account for how you plan to spend your time and to make important business decisions:
            Deloitte heavily relies on STAFFIT forecast data to plan and operate the business. It is important to keep in
            mind that you can only change forecasted time for today and for any time in the future, which means that you cannot change any dates in the past! </p>
    <h4> Non-chargeable hours</h4>
    <p>This will show you a much simpler screen where you’ll be able to select the type of non-chargeable activity and from when to when you’ll be performing it.
    </p>

    <h4> What do I need to record in StaffIT? </h4>
    <p> In StaffIT you will need to record both chargeable and non-chargeable hours.These can be categorised into project bookings and non-chargeable bookings.  </p>
    <br>
    <h4> Project bookings using a WBS/P-Code</h4>
            <li>Client chargeable time</li>
            <li>Chargeable internal projects</li>
            <li>Specific BD/PD projects as agreed with your Resource Manager</li>
            <br>
        <h4>Non-project bookings </h4>
    <li>Holidays - Public holidays are entered for you</li>
    <li>Training and Civil Service commitments</li>
    <li>Training and Civil Service commitments</li>
    <p> For flexible working, leave of absence, or sickness time please speak to your resource manager who will help you</p>

    <h4> How to add a chargeable assignment in StaffIT?</h4>
    <p> You will need to input some mandatory information both about your project and your role. There is a lot of information to add, below are some steps on how to input this into your schedule. Feel free to ask your manager or a more experienced colleague for some help!</p>
    <ol>
        <li>Navigate to StaffIT</li>
        <li>Click “Add Project” and enter the WBS code / P-Code (you can ask your manager for this if you are unsure). Never use UNKNOWN as the engagement code as your chargeable hours will not be recorded. </li>
        <li>When entering the role information, select each of the following; Assignment Status – Confirmed, Assignment Type – Billable , Probability to close  - Sold , Industry (select the appropriate industry)</li>
        <li>You will now need to enter a Request name. This can be the client name if it is not confidential.</li>
        <li>Be sure to enter in your request name and resource requester</li>
    </ol>

    <h4> How to confirm my schedule</h4>
    <img id ="confirm-schedule" src="../images/confirm-schedule.png" alt="Confirm Schedule Image">
    <ol>
        <li>Log in and update STAFFIT as far ahead as possible</li>
        <li>Check that all project bookings and time allocations such as 'Vacation' and 'Training' are in your schedule and remove any chargeable hours you will not be able to complete</li>
        <li>Click the 'Confirm Schedule' button - you will still be able to edit your schedule if plans change</li>
        <li>Note: For information on how to enter or edit client assignments and time allocations, please refer to the Resource Management Intranet Page or contact your Resource Manager</li>
    </ol>
</div>