<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffIT Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/staffit.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="http://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
</head>

<ul>
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="./iRPM.html">iRPM</a></li>
</ul>

<body>
<div id="main">
    <h2>STAFFIT</h2>
        <p>STAFFIT is a tool used to account for how you plan to spend your time and to make important business decisions: Deloitte heavily relies on STAFFIT forecast data to plan and operate the business. It is important to keep in mind that you can only change forecasted time for today and for any time in the future, which means that you cannot change any dates in the past! </p>
    <div class="row">
        <div class="column">
            <h3>What code should I use?</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            <h3>How to edit staffit entries</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>

        </div>

        <div class="column">
            <h3>How to enter a chargeable assignment</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            <h3>DPN Profile and Deloitte CV</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        </div>
    </div>
</div>
</body>
</html>