<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffIT Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
</head>

<ul>
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="https://resources.deloitte.com/sites/UK/Redirect/Pages/r-irpm-APL.aspx">iRPM</a></li>
    <li><a href="about.asp">About</a></li>
</ul>

<div id="main">
    <h1>How to use SWIFT/STAFFIT</h1>
    <p>How to track your time working at Deloitte</p>
    <br>
    <p>SWIFT and STAFFIT are two tools that are used to keep track of how Deloitte employees spend their time: while STAFFIT is used to look forward at how busy we are going to be in the next few months, SWIFT is used to look backwards to bill clients and track your annual leave.

        All Deloitte employees are required to keep their SWIFT schedule up-to-date every week. There will be two entries you will commonly create within the system:
    </p>
    <h4>Chargeable hours</h4>
    <p>You will need to find out your WBS code, which will be usually provided by your manager, and add the hours you will be chargeable for the week (usually 8 hours, but could vary depending on the engagement)
    </p>
    <h4>Non-chargeable hours
    </h4>
    <p>There are activities not charged to a client, such as Practice Development or Holidays. They can go to a max of 7 hours per day.
    </p>

</div>