<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swift Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
</head>
<body>
<ul class="navbar">
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="./iRPM.html">iRPM</a></li>
</ul>

<div id="main">
    <h1>SWIFT</h1>
    <h3>What is Swift?</h3>
    <p>Swift is one of the tools we use as Deloitte employees to record our time. Similarly to Staffit, you will input the number of hours you spend on an activity in Swift. However, it is important to note that Staffit is for forecasting whereas Swift is used to record your timesheet. You cannot change past entries in Staffit, but you can for Swift. </p>

    <h3>Why do we need it?</h3>
    <p>Swift is a tool which we all have to use, if we don't record our time correctly then it can result in something known as variance - this is where your time recorded in swift does not match the time you forecasted in Staffit. The best way to avoid this is regularly check and update Swift - if you are unsure or if something doesn't look right, speak to your Resource Manager or Mentor.</p>
    <h3>How to enter your time into Swift</h3>
    <ol>
        <li id = "instructions">Go to the <a href="https://uswasfdp.deloitte.com/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html?saml2#Shell-home" target="_blank">Swift Website</a>, you can find this through the DeloitteNet if you ever loose the link.</li>
    </ol>

</div>

</body>
</html>