<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StaffIT Guide</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<ul>
    <li><a href="./index.html">Home</a> </li>
    <li><a href="./staffit.html">StaffIT</a></li>
    <li><a href="./swift.html">Swift</a></li>
    <li><a href="./iRPM.html">iRPM</a></li>
</ul>

<div id="main">
    <h2>Welcome to the the Swift guide for new joiners at Deloitte</h2>
</div>